:host {
  display: block;
  box-sizing: border-box;

  --bg-color: #fff;
  --header-color: #3c4047;
  --text-color: #3c4047;
}

article {
  background: var(--bg-color);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr 51px;
  grid-row-gap: 5px;
  grid-column-gap: 10px;
  grid-template-areas: 
    "image title"
    "image content"
    "image footer";
}

article img {
  height: 170px;
  width: 170px;
  grid-area: image;
}

article header {
  grid-area: title;
  font-size: 110%;
  font-weight: bold;
  padding: 10px 0;
  text-align: left;
  color: var(--header-color);
}
article .content {
  grid-area: content;
  text-align: left;
  margin: 0;
  overflow: hidden;
  color: var(--text-color);
}

article footer {
  grid-area: footer;
  text-align: right;
}
article footer button {
  margin: 0.5rem;
  background: #fff;
  border: 2px solid #2ab7ca;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
}

article footer button.saved {
  background: #2ab7ca;
}